{% extends "cafe/base.html" %}
{% block title %}Поиск{% endblock %}
{% block content %}
<h2>Поиск заказов</h2>
<form action="" method="post">
{% csrf_token %}
<label for="string">Номер стола или статус заказа:</label>
<input type="text" name="string" id="string">
<input type="submit" value="Найти">
</form>
<p>{{ message }}</p>
<table border="1px" cellpadding="5px">
<tr><th>ID Заказа</th><th>Номер стола</th><th>Общая стоимость</th><th>Статус</th></tr>
{% for order in orders %}
<tr><td>{{ order.id }}</td><td>{{ order.table_number }}</td><td>{{ order.total_price }}</td><td>{{ order.status }}</td></tr>
{% endfor %}
</table>
{% endblock %}

